.slider {
    color: #fff;
    position: relative;
    &-item {
        background-image: url(../images/slide_photo/slide1.jpg);
        background-size: cover;
        position: relative;
        height: 100vh;
        &::after {
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
        }
    }
    &-content {
        width: 610px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        z-index: 2;
        &__slogan {
            font-family: "Raleway-Medium";
            font-size: 3.6rem;
            margin-bottom: 10px;
        }
        &__header {
            font-family: "Raleway-ExtraBold";
            font-size: 5.2rem;
            margin-bottom: 15px
        }
        &__desc {
            font-family: "Montserrat-Light";
            font-size: 1.6rem;
            line-height: 24px
        }
        &__button {
            margin: 0 auto;
            margin-top: 40px;
        }
    }
    &-arrows {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        &__left, &__right {
            cursor: pointer;
            height: 75px;
            position: absolute;
            top: 0;
            width: 40px;
            path {
                fill: #fff;
                transition: all .4s;
            }
            &:hover {
                path {
                    fill: #d3c1ad;
                }
            }
        }
        &__left {
            left: 7.8%; 
        }
        &__right  {
            right: 7.8%;
        }
    }
    &-dots {
        display: flex;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        &__item {
            background-color: #fff;
            border: 2px solid transparent;
            border-radius: 50%;
            cursor: pointer;
            height: 12px;
            margin-right: 10px;
            opacity: .5;
            transition: all .4s;
            width: 12px;
            &:hover {
                background-color: transparent;
                border-color: #d3c1ad;
            }
        }
        &__item:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    .slider {
        &-content {
            &__slogan {
                font-size: 3rem;
            }
            &__header {
                font-size: 4.6rem;
            }
            &__desc {
                font-size: 1.4rem;
            }
            &__button {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .slider {
        &-content {
            width: 510px;
            &__slogan {
                font-size: 3rem;
            }
            &__header {
                font-size: 4.6rem;
            }
            &__desc {
                font-size: 1.4rem;
            }
            &__button {
                margin-top: 30px;
            }
        }
        &-arrows {
            &__left, &__right {
                height: 65px;
                width: 30px;
            }
            &__left {
                left: 7%; 
            }
            &__right  {
                right: 7%;
            }
        }
        &-dots {
            bottom: 30px;
            &__item {
                height: 10px;
                margin-right: 8px;
                width: 10px;
            }
            &__item:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .slider {
        &-content {
            width: 410px;
            &__slogan {
                font-size: 2.5rem;
            }
            &__header {
                font-size: 3.8rem;
            }
            &__button {
                margin-top: 25px;
            }
        }
        &-arrows {
            &__left, &__right {
                height: 55px;
                width: 25px;
            }
            &__left {
                left: 5.5%; 
            }
            &__right  {
                right: 5.5%;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .slider {
        &-content {
            width: 370px;
            &__button {
                margin-top: 30px;
            }
        }
        &-arrows {
            display: none;
        }
    }
}

@media screen and (max-width: 380px) {
    .slider {
        &-content {
            width: 340px;
        }
    }
}