.header {
    align-items: center;
    color: $whiteColor;
    display: flex;
    height: 55px;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    top: 40px;
    transform: translateX(-50%);
    width: 1170px;
    z-index: 3;
}

.nav-panel {
    display: flex;
    font-family: "Montserrat-Light";
    font-weight: 700;
}

.nav-menu {
    align-items: center;
    display: flex;
    list-style-type: none;
    line-height: 1;
    margin-right: 60px;
}

.moves {
    display: flex;
}

.nav-menu__item:not(:last-child) {
    padding-right: 30px;
}

.moves__item:not(:last-child) {
    display: block;
    margin-right: 28px;
}

.moves__item-cart, .moves__item-search {
    width: 18px;
    height: 24px;
    path {
        fill: #fff;
        transition: all .4s;
    }
    &:hover {
        path {
            fill: #d3c1ad;
        }
    }
}

.moves__item-search {
    width: 24px;
}