.ideas {
    background-color: #fbfaf8;
}

.ideas-header {
    margin: 0 auto;
}

.ideas-examples {
    margin-top: 40px;
    min-height: 480px;
}

.ideas-example {
    max-width: 770px;
    // &[data-example = "second"] {
    //     background-color: #000;
    // }
}