.partners {
    background-image: url(../images/partners/partners-bg.jpg);
    background-size: cover;
    padding-bottom: 13.5rem;
    padding-top: 13.5rem;
    position: relative;
    &::after {
        background-color: rgba(0,0,0,0.7);
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    &-container {
        position: relative;
        z-index: 5;
    }
    &-list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-left: -15px;
        margin-right: -15px;
        &__image {
            display: block;
            margin: 0 auto;
        }
        &__item {
            width: calc(25% - 30px);
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .partners {
        padding-bottom: 10rem;
        padding-top: 10rem;
    }
}

@media screen and (max-width: 992px) {
    .partners {
        padding-bottom: 8rem;
        padding-top: 8rem;
        &-list {
            flex-wrap: wrap;
            margin-bottom: -20px;
            &__item {
                width: calc(33.333% - 30px);
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .partners {
        padding-bottom: 7rem;
        padding-top: 7rem;
        &-list {
            justify-content: center;
            &__item {
                width: calc(50% - 30px);
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .partners {
        padding-bottom: 6rem;
        padding-top: 6rem;
        &-list {
            margin-bottom: -35px;
            &__item {
                width: calc(100% - 30px);
                margin-bottom: 35px;
            }
        }
    }
}