.posts {
    background-color: $whiteColor;
    font-family: "Montserrat-Light";
    &-header {
        margin: 0 auto;
    }
}

.post-list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 40px;
    &__arrows {
        padding-top: 40px;
    }
}

.post {
    background-color: $whiteColor;
    border: 2px solid #f8f8f8;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 370px;
    position: relative;
    transition: all .4s;
    &-img {
        height: 220px;
        position: relative;
        &__cover {
            background-color: rgba(0,0,0,0);
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            transition: all .4s;
        }
    }
    &-date {
        background-color: #252525;
        border-radius: 6px;
        color: $whiteColor;
        position: absolute;
        left: 20px;
        top: 20px;
        overflow: hidden;
        text-align: center;
        width: 50px;
        &__day {
            background-color: #363636;
            display: block;
            font-size: 24px;
            padding-bottom: 6px;
            padding-top: 6px;
            transition: all .4s;
        }
        &__month {
            display: block;
            font-size: 12px;
            padding-bottom: 6px;
            padding-top: 6px;
            transition: all .4s;
        }
    }
    &-content {
        padding: 30px;
    }
    &__title {
        color: $titleColor;
        font-family: "Raleway-Medium";
        font-size: 20px;
        transition: all .4s;
    }
    &__text {
        padding-top: 15px;
        transition: all .4s;
    }
    &__button {
        color: $hoverColor;
        display: block;
        margin-top: 25px;
        padding-right: 15px;
        text-decoration: none;
    }
    &:hover {
        background-color: #362f2d;
        .post__title {
            color: $hoverColor;
        }
        .post__text {
            color: $whiteColor;
        }
        .post-img__cover {
            background-color: rgba(0,0,0,0.7);
        }
        .post-date__day {
            background-color: $hoverColor;
        }
        .post-date__month {
            background-color: #a48d72;
        }
    }
}