.video-present {
    background-image: url(../images/prev_videoplayer/photo7.jpg);
    background-size: cover;
    color: #fff;
    font-family: "Montserrat-Light";
    position: relative;
    min-height: 700px;
    &::after {
        background-color: rgba(0,0,0,0.5);
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    &-play {
        align-items: center;
        background-color: rgba(0,0,0,0.2);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 100px;
        justify-content: center;
        margin: 0 auto;
        width: 100px;
    }
    &-info {
        margin-top: 40px;
    }
    &__title {
        font-family: "Raleway-Medium";
        font-size: 30px;
    }
    &__desc {
        margin-top: 25px;
        font-size: 16px;
    }
    &__time {
        color: $hoverColor;
        display: block;
        font-family: "Montserrat-Regular";
        margin-top: 40px;
    }
}

.video-present-container {
    max-width: 570px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.video-present-play:hover {
    .video-present-play__icon {
        path {
            fill: $hoverColor;
        }
    }
}

.video-present-play__icon {
    height: 70px;
    width: 70px;
    path {
        fill: #fff;
        transition: all .4s;
    }
}