* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #000;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300; }

.button {
  background-color: #998675;
  box-shadow: inset 0 -3px 0 #998675;
  border-radius: 3px;
  display: block;
  color: inherit;
  font-family: "Raleway-ExtraBold";
  font-size: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background-color .4s;
  width: 170px; }
  .button:hover {
    background-color: #c7b299; }

.read-button {
  color: #c7b299;
  display: inline-block;
  padding-right: 15px;
  position: relative;
  text-decoration: none; }
  .read-button__svg {
    height: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 6px;
    transform: translateY(-50%); }
    .read-button__svg path {
      fill: #fff; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.content-container {
  margin-left: -15px;
  margin-right: -15px; }

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway-Regular";
  font-size: 34px; }
  .logo__name {
    display: block;
    letter-spacing: -1.36px; }

.link {
  color: inherit;
  text-decoration: none;
  transition: color .4s; }
  .link:hover {
    color: #c7b299; }

.image {
  display: block;
  height: 100%;
  width: 100%; }

.section {
  padding-bottom: 80px;
  padding-top: 80px; }
  .section-header {
    max-width: 770px;
    text-align: center; }
  .section-title {
    color: #555555;
    font-family: "Raleway-SemiBold";
    font-size: 30px; }
  .section-subtitle {
    font-family: "Montserrat-Light";
    font-size: 16px;
    line-height: 28px;
    padding-top: 20px; }

.small-section {
  background-color: #f4f5f8;
  background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }

.uppercase {
  text-transform: uppercase; }

.nav_flex-pos_center {
  display: flex;
  justify-content: center; }

.header {
  align-items: center;
  color: #fff;
  display: flex;
  height: 55px;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  top: 40px;
  transform: translateX(-50%);
  width: 1170px;
  z-index: 3; }

.nav-panel {
  display: flex;
  font-family: "Montserrat-Light";
  font-weight: 700; }

.nav-menu {
  align-items: center;
  display: flex;
  list-style-type: none;
  line-height: 1;
  margin-right: 60px; }

.moves {
  display: flex; }

.nav-menu__item:not(:last-child) {
  padding-right: 30px; }

.moves__item:not(:last-child) {
  display: block;
  margin-right: 28px; }

.moves__item-cart, .moves__item-search {
  width: 18px;
  height: 24px; }
  .moves__item-cart path, .moves__item-search path {
    fill: #fff;
    transition: all .4s; }
  .moves__item-cart:hover path, .moves__item-search:hover path {
    fill: #d3c1ad; }

.moves__item-search {
  width: 24px; }

.slider {
  color: #fff;
  position: relative; }

.slider-item {
  background-image: url(../images/slide_photo/slide1.jpg);
  background-size: cover;
  position: relative;
  height: 100vh; }

.slider-item::after {
  background-color: #111;
  position: absolute;
  content: "";
  opacity: .7;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; }

.slider-content {
  max-width: 610px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2; }

.slider-content__slogan {
  font-family: "Raleway-Medium";
  font-size: 36px;
  margin-bottom: 10px; }

.slider-content__header {
  font-family: "Raleway-ExtraBold";
  font-size: 52px;
  margin-bottom: 15px; }

.slider-content__desc {
  font-family: "Montserrat-Light";
  font-size: 16px;
  line-height: 24px; }

.slider-content__button {
  margin: 0 auto;
  margin-top: 40px; }

.slider-arrows {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.slider-arrows__left, .slider-arrows__right {
  cursor: pointer;
  height: 75px;
  position: absolute;
  top: 0;
  width: 40px; }
  .slider-arrows__left path, .slider-arrows__right path {
    fill: #fff;
    transition: all .4s; }
  .slider-arrows__left:hover path, .slider-arrows__right:hover path {
    fill: #d3c1ad; }

.slider-arrows__left {
  left: 7.8%; }

.slider-arrows__right {
  right: 7.8%; }

.slider-dots {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%); }
  .slider-dots__item {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    margin-right: 10px;
    opacity: .5;
    transition: all .4s;
    width: 12px; }
    .slider-dots__item:hover {
      background-color: transparent;
      border-color: #d3c1ad; }
  .slider-dots__item:last-child {
    margin-right: 0; }

.services {
  background-color: #fff;
  font-family: "Montserrat-Light"; }

.service-list {
  display: flex; }

.service-cart {
  width: 270px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 30px;
  position: relative;
  text-align: center; }
  .service-cart:hover path {
    fill: #c7b299; }
  .service-cart:hover .service-cart__header {
    color: #c7b299; }
  .service-cart:hover ::after {
    background-color: #c7b299; }
  .service-cart ::after {
    background-color: #f1eee9;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    transform: translateX(-50%);
    transition: all .5s;
    width: 70px; }

.service-cart__icon {
  width: 46px;
  height: 46px; }
  .service-cart__icon path {
    fill: #555555;
    transition: all .4s; }

.service-cart__header {
  font-family: "Raleway-SemiBold";
  font-size: 22px;
  color: #555555;
  margin-top: 25px;
  transition: color .4s; }

.service-cart__desc {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.7; }

.ideas {
  background-color: #fbfaf8; }

.ideas-header {
  margin: 0 auto; }

.ideas-examples {
  margin-top: 40px;
  min-height: 480px; }

.ideas-example {
  max-width: 770px; }

.wordpress-them {
  font-family: "Montserrat-Light";
  padding-top: 50px;
  padding-bottom: 50px; }
  .wordpress-them .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.wordpress-title {
  color: #fff;
  font-family: "Raleway-Regular";
  font-size: 28px; }
  .wordpress-title span {
    color: #c7b299; }

.wordpress-subtitle {
  font-size: 18px;
  margin-top: 10px; }

.wordpress-button {
  color: #fff; }

.projects {
  background-color: #fff; }
  .projects-header {
    margin: 0 auto; }
  .projects-container {
    font-family: "Montserrat-Light";
    padding-top: 40px; }
  .projects-nav {
    display: flex;
    list-style: none; }
    .projects-nav__item:not(:last-child) {
      margin-right: 10px; }
    .projects-nav__link {
      color: inherit;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      display: block;
      font-size: 14px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      text-decoration: none;
      transition: all .4s; }
      .projects-nav__link:hover {
        background-color: #998675;
        border-color: #998675;
        color: #fff; }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: -30px; }

.project {
  background-color: #fbfaf8;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  transition: all .4s;
  width: 370px; }
  .project__preview {
    background-size: cover;
    position: relative;
    height: 235px; }
  .project__preview-cover {
    background-color: rgba(17, 17, 17, 0.7);
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: all .4s; }
  .project-info {
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 30px;
    position: relative; }
  .project-title {
    color: #c7b299;
    font-family: "Raleway-Regular";
    font-size: 20px;
    transition: all .4s; }
  .project-desc {
    margin-top: 10px;
    transition: all .4s; }
  .project:hover {
    background-color: #362f2d; }
    .project:hover .project__preview-cover {
      opacity: 1; }
    .project:hover .project-title {
      color: #fff; }
    .project:hover .project-desc {
      color: #c7b299; }
    .project:hover .project-info::after {
      background-color: #362f2d; }

.project__preview-icons {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .project__preview-icons-link {
    display: block;
    margin-right: 30px; }
    .project__preview-icons-link:last-child {
      margin-right: 0; }
  .project__preview-icons__icon {
    height: 26px;
    width: 26px; }
    .project__preview-icons__icon path {
      fill: #fff;
      transition: all .4s; }
    .project__preview-icons__icon:hover path {
      fill: #c7b299; }

.project-info::after {
  background-color: #fbfaf8;
  content: "";
  position: absolute;
  height: 20px;
  left: 20px;
  top: 0;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s;
  width: 25px; }

.project-button {
  color: #fff;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto; }

.video-present {
  background-image: url(../images/prev_videoplayer/photo7.jpg);
  background-size: cover;
  color: #fff;
  font-family: "Montserrat-Light";
  position: relative;
  min-height: 700px; }
  .video-present::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }
  .video-present-play {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 0 auto;
    width: 100px; }
  .video-present-info {
    margin-top: 40px; }
  .video-present__title {
    font-family: "Raleway-Medium";
    font-size: 30px; }
  .video-present__desc {
    margin-top: 25px;
    font-size: 16px; }
  .video-present__time {
    color: #c7b299;
    display: block;
    font-family: "Montserrat-Regular";
    margin-top: 40px; }

.video-present-container {
  max-width: 570px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 4; }

.video-present-play:hover .video-present-play__icon path {
  fill: #c7b299; }

.video-present-play__icon {
  height: 70px;
  width: 70px; }
  .video-present-play__icon path {
    fill: #fff;
    transition: all .4s; }

.mobile-adaptation {
  background-image: url(../images/mobile/iphone.png);
  background-repeat: no-repeat;
  background-position-x: 22.01%;
  background-position-y: 75px;
  background-size: 420px 615px;
  font-family: "Montserrat-Light";
  background-color: #fbfaf8;
  padding-bottom: 185px;
  padding-top: 185px; }

.mobile-container {
  display: flex;
  justify-content: flex-end; }

.mobile-content {
  max-width: 670px; }

.mobile-description {
  font-size: 16px;
  padding-top: 35px; }

.mobile-list {
  list-style: none;
  padding-left: 50px;
  padding-top: 40px; }
  .mobile-list__item {
    margin-bottom: 12px;
    padding-left: 50px;
    position: relative; }
    .mobile-list__item:last-child {
      margin-bottom: 0; }
  .mobile-list__arrow {
    background-color: #c7b299;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; }

.statistic {
  font-family: "Montserrat-Light";
  padding-bottom: 60px;
  padding-top: 70px; }
  .statistic-counters {
    display: flex;
    max-width: 960px;
    margin: 0 auto; }
  .statistic-counter {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 25px;
    position: relative;
    text-align: center;
    width: 170px; }
    .statistic-counter__icon {
      height: 44px;
      width: 44px;
      margin: 0 auto; }
    .statistic-counter__svg path {
      fill: #c7b299; }
    .statistic-counter__value {
      color: #fff;
      display: block;
      padding-top: 25px;
      font-size: 48px; }
    .statistic-counter__title {
      color: #c7b299;
      padding-top: 15px; }
    .statistic-counter::after {
      background-color: #fff;
      content: "";
      position: absolute;
      bottom: 0;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px; }

.posts {
  background-color: #fff;
  font-family: "Montserrat-Light"; }
  .posts-header {
    margin: 0 auto; }

.post-list {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 40px; }

.post {
  background-color: #fff;
  border: 2px solid #f8f8f8;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 370px;
  position: relative;
  transition: all .4s; }
  .post-img {
    height: 220px;
    position: relative; }
    .post-img__cover {
      background-color: rgba(0, 0, 0, 0);
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      transition: all .4s; }
  .post-date {
    background-color: #252525;
    border-radius: 6px;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
    overflow: hidden;
    text-align: center;
    width: 50px; }
    .post-date__day {
      background-color: #363636;
      display: block;
      font-size: 24px;
      padding-bottom: 6px;
      padding-top: 6px;
      transition: all .4s; }
    .post-date__month {
      display: block;
      font-size: 12px;
      padding-bottom: 6px;
      padding-top: 6px;
      transition: all .4s; }
  .post-content {
    padding: 30px; }
  .post__title {
    color: #555555;
    font-family: "Raleway-Medium";
    font-size: 20px;
    transition: all .4s; }
  .post__text {
    padding-top: 15px;
    transition: all .4s; }
  .post__button {
    margin-top: 25px; }
  .post__svg path {
    fill: #c7b299; }
  .post-arrows {
    margin: 0 auto;
    max-width: 55px;
    padding-top: 40px; }
    .post-arrows__item {
      display: inline-block;
      border: 2px solid #d1d1d1;
      border-radius: 50%;
      height: 22px;
      width: 22px; }
      .post-arrows__item_left {
        margin-right: 5px; }
  .post:hover {
    background-color: #362f2d; }
    .post:hover .post__title {
      color: #c7b299; }
    .post:hover .post__text {
      color: #fff; }
    .post:hover .post-img__cover {
      background-color: rgba(0, 0, 0, 0.7); }
    .post:hover .post-date__day {
      background-color: #c7b299; }
    .post:hover .post-date__month {
      background-color: #a48d72; }

.partners {
  background-image: url(../images/partners/partners-bg.jpg);
  background-size: cover;
  padding-bottom: 135px;
  padding-top: 135px;
  position: relative; }
  .partners::after {
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }
  .partners-container {
    position: relative;
    z-index: 5; }
  .partners-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px; }
    .partners-list__item {
      width: 270px;
      margin-left: 15px;
      margin-right: 15px; }

.footer {
  background-color: #191919;
  font-family: "Montserrat-Light"; }
  .footer-info {
    display: flex;
    margin-left: -15px;
    margin-right: -15px; }
  .footer-logo {
    color: #fff; }
  .footer-column {
    margin-left: 15px;
    margin-right: 15px;
    width: 270px; }
    .footer-column__title {
      color: #fff;
      font-family: "Raleway-Bold";
      font-size: 24px; }
  .footer-content {
    line-height: 1.7;
    padding-top: 30px; }
  .footer-list {
    list-style: none; }
    .footer-list__item {
      border-bottom: 1px solid #595f6f;
      margin-bottom: 20px;
      padding-bottom: 20px;
      transition: color .4s; }
      .footer-list__item:last-child {
        border: none;
        margin-bottom: 0; }
      .footer-list__item:hover {
        color: #c7b299; }
        .footer-list__item:hover .footer-list__date {
          color: #fff; }
    .footer-list__date {
      display: block;
      font-size: 12px;
      transition: color .4s; }
    .footer-list__text {
      line-height: 1.4; }
  .footer-copyright {
    background-color: #111;
    padding-bottom: 45px;
    padding-top: 45px; }
    .footer-copyright__list {
      display: flex;
      list-style: none; }
    .footer-copyright__link {
      color: inherit;
      text-decoration: none; }
  .footer-inner {
    display: flex;
    justify-content: space-between; }
  .footer__read-button {
    color: #fff;
    margin-top: 25px; }
  .footer__svg-button path {
    fill: #fff; }

.widjets {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  margin-left: -5px;
  margin-right: -5px; }
  .widjets__item {
    height: 100px;
    width: 125px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px; }

/* Montserrat font */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserat/Regular/Montserrat-Regular.eot");
  src: url("../fonts/Montserat/Regular/Montserrat-Regular.eot") format("embedded-opentype"), url("../fonts/Montserat/Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserat/Regular/Montserrat-Regular.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserat/Light/Montserrat-Light.eot");
  src: url("../fonts/Montserat/Light/Montserrat-Light.eot") format("embedded-opentype"), url("../fonts/Montserat/Light/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserat/Light/Montserrat-Light.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

/* Raleway font */
@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/Raleway/Thin/Raleway-Thin.eot");
  src: url("../fonts/Raleway/Thin/Raleway-Thin.eot") format("embedded-opentype"), url("../fonts/Raleway/Thin/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway/Thin/Raleway-Thin.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../fonts/Raleway/ExtraLight/Raleway-ExtraLight.eot");
  src: url("../fonts/Raleway/ExtraLight/Raleway-ExtraLight.eot") format("embedded-opentype"), url("../fonts/Raleway/ExtraLight/Raleway-ExtraLight.ttf") format("truetype"), url("../fonts/Raleway/ExtraLight/Raleway-ExtraLight.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway/Light/Raleway-Light.eot");
  src: url("../fonts/Raleway/Light/Raleway-Light.eot") format("embedded-opentype"), url("../fonts/Raleway/Light/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway/Light/Raleway-Light.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Regular/Raleway-Regular.eot");
  src: url("../fonts/Raleway/Regular/Raleway-Regular.eot") format("embedded-opentype"), url("../fonts/Raleway/Regular/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway/Regular/Raleway-Regular.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Medium/Raleway-Medium.eot");
  src: url("../fonts/Raleway/Medium/Raleway-Medium.eot") format("embedded-opentype"), url("../fonts/Raleway/Medium/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway/Medium/Raleway-Medium.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway/SemiBold/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway/SemiBold/Raleway-SemiBold.eot") format("embedded-opentype"), url("../fonts/Raleway/SemiBold/Raleway-SemiBold.ttf") format("truetype"), url("../fonts/Raleway/SemiBold/Raleway-SemiBold.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/Bold/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Bold/Raleway-Bold.eot") format("embedded-opentype"), url("../fonts/Raleway/Bold/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway/Bold/Raleway-Bold.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway/ExtraBold/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway/ExtraBold/Raleway-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Raleway/ExtraBold/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway/ExtraBold/Raleway-ExtraBold.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }
